.tests-quiz-title {
  color: #0a3981;
  text-align: center;
  margin: auto;
}

.tests-page-title {
  background-color: #082e66;
  color: white;
  text-align: center;
  padding: 20px;
}

.tests-main {
  padding: 20px;
}

/* Course Cards */
.tests-course-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.tests-continer {
  border: 3px solid #0a3981;
  background-color: #082e66;
  color: white;
  width: 280px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: left;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.tests-continer h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.tests-continer p {
  margin: 10px 0 20px;
  font-size: 0.9rem;
}

.tests-continer button {
  background-color: #002d57;
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
  text-align: center;
}

.tests-continer button:hover {
  background-color: #051b3d;
}


/* Style for the Info Note Section */
.important-note {
  background-color: #d1ecf1; /* Light blue background */
  color: #0c5460; /* Dark blue text */
  border: 1px solid #bee5eb; /* Light blue border */
  padding: 15px;
  margin: 20px 0;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 400;
  text-align: center;

}

.important-note strong {
  font-weight: 700;
}

/* Responsive Adjustments */
@media (max-width: 768px) {
  .tests-continer {
    width: 100%;
  }
}
